<script src="../static/Player.js"></script>

<style>
	#TitleList input.AddTitleButton {
					position:		fixed;
					top:			20px;
					right:			20px;
					width:			50px;
					height:			50px;
					background-color:	#red;
					color:			white;
					font-size:		30pt;
					}
	#TitleList table		{
					font-size:		9pt;
					}
	#TitleList tr.Hover:hover	{
					background:		#84a9d7;
					font-color:		#234956;
					}
	#TitleList td			{
					max-width:		250px;
					}
	#TitleList a			{
					color:			blue;
					text-decoration: 	none;
					}
	#TitleList a:hover		{
					color:			blue;
					text-decoration: 	underline;
					}
	#TitleList a.Provider		{
					text-decoration:	none;
					padding-top:		8px;
					padding-bottom:		0px;
					}
	#TitleList a.Provider:hover	{
					background-color: 	#22ff22;
					text-decoration: 	none;
					}
	#TitleList img			{
					border:			none;
					height:			15px;
					}
</style>

<div id=TitleList>
	<input type=button class=AddTitleButton value="+" onClick="AddTitle();" />

	<table border=0 cellpadding=5 cellspacing=0>
		<tr>
			<th align=left></th>
			<th>Komponist</th>
			<th>Darbietender K&uuml;nstler</th>
			<th>Album</th>
			<th colspan=2>Titel</th>
		</tr>
	{% for Title in Titles %}
		<tr class=Hover>
			<td>
			{% for URL in Title.URLs %}
			<a href="javascript:play(resolve('{{ URL.url }}'));"><img src="/Django/MediaCenter/static/play.png"/></a>
			{% endfor %}

<!--			Suchen:
			<a class=Provider target="_blank" href="http://www.myvideo.de/Videos_A-Z?searchChannelID=15&searchChannel=Musik&searchOrder=0&searchWord={{ Title.composer|urlencode }}%20{{ Title.performer|urlencode }}%20{{ Title.album|urlencode }}%20{{ Title.title }}">		<img src="/Django/MediaCenter/static/MyVideo.png" />		</a>
			<a class=Provider target="_blank" href="http://www.youtube.com/results?gl=DE&hl=de&search_query={{ Title.composer|urlencode }}%20{{ Title.performer|urlencode }}%20{{ Title.album|urlencode }}%20{{ Title.title }}">	<img src="/Django/MediaCenter/static/YouTube.png" />		</a>
			<a class=Provider target="_blank" href="http://www.dailymotion.com/relevance/search/{{ Title.composer|urlencode }}%20{{ Title.performer|urlencode }}%20{{ Title.album|urlencode }}%20{{ Title.title }}">		<img src="/Django/MediaCenter/static/dailymotion.png" />	</a>
			<input type=button style="width:40px;" value="+" onClick="AddURL('{{Title.id}}','{{Title.composer}}','{{Title.performer}}','{{Title.album}}','{{Title.title}}');" />-->
			</td>

			<td align=center><a class=green href="Details?Database=Composers&Name={{ Title.composer|urlencode }}">{{ Title.composer }}</a></td>
			<td align=center><a class=green href="Details?Database=Performers&Name={{ Title.performer|urlencode }}">{{ Title.performer }}</a></td>
			<td align=center><a class=green href="Details?Database=Albums&Name={{ Title.album|urlencode }}">{{ Title.album }}</a></td>
			<td align=center> {{ Title.track }} </td>
			<td align=center> {{ Title.title }} </td>
		</tr>
	{% endfor %}
	</table>
</div>

