<script src="../static/Player.js"></script>

<style>
	.TitleBox			{
					border:			1px dotted white;
					width:			80%;
					}
	#TitleList			{
					height:			75%;
					overflow-x:		hidden;
					overflow-y:		scroll;
					}

	#AddTitleButton			{
					position:		fixed;
					top:			20px;
					right:			20px;
					width:			50px;
					height:			50px;
					background-color:	red;
					color:			white;
					font-size:		30pt;
					}
	.TitleTable			{
					border:			none;
					font-size:		9pt;
					width:			100%;
					}
	.search				{
					border:			1px dotted white;
					background-color:	transparent;
					width:			100%;
					height:			20px;
					color:			white;
					font-size:		8pt;
					}
	#TitleList tr.Hover:hover	{
					background:		#84a9d7;
					font-color:		#234956;
					}
	#TitleList td			{
					text-align:		center;
					}

	#TitleList a			{
					color:			#fff364;
					text-decoration: 	none;
					}
	#TitleList a:hover		{
					color:			blue;
					text-decoration: 	underline;
					cursor:			pointer;
					}
	#TitleList a.Provider		{
					text-decoration:	none;
					padding-top:		8px;
					padding-bottom:		0px;
					}
	#TitleList a.Provider:hover	{
					background-color: 	#22ff22;
					text-decoration: 	none;
					}

	.PlayBtn			{
					border:			1px solid transparent;
					height:			15px;
					}
	.PlayBtn:hover			{
					border:			1px dotted white;
					}
</style>

<script>
	function Search(event) {
		needle = event.srcElement.value;
		for (i=0; i<parseInt(document.getElementById('TitleCount').value); i++) {
			title = document.getElementById('title'+i);
			composer = document.getElementById(event.srcElement.id+i).innerHTML;
			checkbox = document.getElementById('checkbox'+i);
			matches = false;
			if ( needle == '' ) 	matches = true
					else	matches = composer.toUpperCase().indexOf(needle.toUpperCase()) > -1;
			if ( matches )	{
					title.style.display = 'table-row';
					}
				else	{
					checkbox.checked = false;
					title.style.display = 'none';
					}
			}
		}

	function Select(event) {
		id = event.srcElement.parentNode.id;
		i = id.substr(5, id.length-5);
		box = document.getElementById('checkbox'+i);
		box.checked = ! ( box.checked == 1 );
		}
</script>

<div class=TitleBox id=Buttons>
	<input type=button id="DelTitle" value="X" onClick="DelTitle();" />
	<input type=button id="AddTitle" value="+" onClick="showAddTitleWindow();" />
	<input type=button id="m3u" value="m3u" />
	<input type=button id="pls" value="pls" />

	<input type=hidden id="TitleCount" value='{{ TitleCount }}'/>
</div>

<div class=TitleBox id=Heading>
	<table class=TitleTable cellpadding=5 cellspacing=0>
		<tr>
			<th width="5%"></th>
			<th width="28%">Komponist</th>
			<th width="28%">Darbietender K&uuml;nstler</th>
			<th width="28%">Titel</th>
			<th width="10%"></th>
		</tr>
		<tr>
			<td></td>
			<td><input type=text class=search id=composer onKeyUp="Search(event);" /></td>
			<td><input type=text class=search id=performer onKeyUp="Search(event);" /></td>
			<td><input type=text class=search id=title onKeyUp="Search(event);" /></td>
			<td></td>
		</tr>
	</table>
</div>

<div class=TitleBox id=TitleList>
	<table class=TitleTable cellpadding=5 cellspacing=0>
	{% for Title in Titles %}
		<tr class=Hover id='title{{ Title.number }}' onClick='Select(event);'>
			<td width="5%">
				<input type=checkbox id='checkbox{{ Title.number }}' />
			</td>

			<td width="28%"><a class=green href="Details?Database=Composers&Name={{ Title.composer|urlencode }}"><label id='composer{{ Title.number }}'>{{ Title.composer }}</label></a></td>
			<td width="28%"><a class=green href="Details?Database=Performers&Name={{ Title.performer|urlencode }}"><label id='performer{{ Title.number }}'>{{ Title.performer }}</label></a></td>
			<td width="28%"><label id='title{{ Title.number }}'>{{ Title.title }}</label></td>

			<td width="10%">
			{% for URL in Title.URLs %}
			<a target=Player href="../Player?Link={{ URL.url }}"><img class=PlayBtn alt="Play now!" src="/Django/MediaCenter/static/play.png"/></a>
			{% endfor %}
			</td>
		</tr>{% endfor %}
	</table>
</div>

