<script src="../static/Player.js"></script>

<style>
	#TitleList input.AddTitleButton {
					position:		fixed;
					top:			20px;
					right:			20px;
					width:			50px;
					height:			50px;
					background-color:	red;
					color:			white;
					font-size:		30pt;
					}
	#TitleList table		{
					font-size:		9pt;
					}
	#TitleList .search		{
					border:			1px dotted white;
					background-color:	transparent;
					width:			100%;
					height:			20px;
					color:			white;
					font-size:		8pt;
					}
	#TitleList tr.Hover:hover	{
					background:		#84a9d7;
					font-color:		#234956;
					}
	#TitleList td			{
					max-width:		250px;
					}
	#TitleList a			{
					color:			#fff364;
					text-decoration: 	none;
					}
	#TitleList a:hover		{
					color:			blue;
					text-decoration: 	underline;
					}
	#TitleList a.Provider		{
					text-decoration:	none;
					padding-top:		8px;
					padding-bottom:		0px;
					}
	#TitleList a.Provider:hover	{
					background-color: 	#22ff22;
					text-decoration: 	none;
					}
	#TitleList .PlayBtn		{
					border:			1px solid transparent;
					height:			15px;
					}
	#TitleList .PlayBtn:hover	{
					border:			1px dotted white;
					}
</style>

<script>
	function Search(event) {
		needle = event.srcElement.value;
		for (i=0; i<parseInt(document.getElementById('TitleCount').value); i++) {
			title = document.getElementById('title'+i);
			composer = document.getElementById(event.srcElement.id+i).innerHTML;
			matches = false;
			if ( needle == '' ) 	matches = true
					else	matches = composer.toUpperCase().indexOf(needle.toUpperCase()) > -1;
			if ( matches )	{
					title.style.display = 'table-row';
					}
				else	{
					title.style.display = 'none';
					}
			}
		}
</script>

<div id=TitleList>
	<input type=button class=AddTitleButton value="+" onClick="AddTitle();" />

	<table border=0 cellpadding=5 cellspacing=0>
		<tr>
			<th align=left></th>
			<th>Komponist</th>
			<th>Darbietender K&uuml;nstler</th>
			<th>Titel</th>
			<th></th>
		</tr>
		<tr>
			<td></td>
			<td><input type=text class=search id=composer onKeyUp="Search(event);" /></td>
			<td><input type=text class=search id=performer onKeyUp="Search(event);" /></td>
			<td><input type=text class=search id=title onKeyUp="Search(event);" /></td>
			<td></td>
		</tr>
	{% for Title in Titles %}
		<tr class=Hover id='title{{ Title.number }}'>
			<td>
				<input type=checkbox>
			</td>

			<td align=center><a class=green href="Details?Database=Composers&Name={{ Title.composer|urlencode }}"><label id='composer{{ Title.number }}'>{{ Title.composer }}</label></a></td>
			<td align=center><a class=green href="Details?Database=Performers&Name={{ Title.performer|urlencode }}"><label id='performer{{ Title.number }}'>{{ Title.performer }}</label></a></td>
			<td align=center><label id='title{{ Title.number }}'>{{ Title.title }}</label></td>

			<td>
			{% for URL in Title.URLs %}
			<a href="javascript:insertplayer(extractplayer('{{ URL.url }}'));"><img class=PlayBtn src="/Django/MediaCenter/static/play.png"/></a>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</table>
</div>

<input type=hidden id=TitleCount value='{{ TitleCount }}'/>

