{% extends "Music.html" %}

{% block header %}Künstler{% endblock %}

{% block main %}

<style>
	#Hint			{
				border:			1pt solid blue;
				color:			black;
				background-color:	yellow;
				position:		fixed;
				top:			0px;
				left:			250px;
				right:			250px;
				padding:		4pt;
				visibility:		hidden;
				}
	#Hint input		{
				border:			none;
				width:			500px;
				font-size:		10pt; 
				text-align:		center;

				writing-mode:		tb-rl;
				filter:			flipH() flipV();

				background-color:	yellow;
				}
</style>

<div id=Hint>
	<input id=HintText type=text value=""/>
</div>

<script>
	function showHint(hint) {
		document.getElementById('HintText').value = hint;
		document.getElementById('Hint').style.visibility = "visible";
		document.getElementById('Hint').style.top = event.offsetTop;
		}
</script>

<table border=0 cellpadding=7 cellspacing=10 style="font-size:8pt;border:1px solid #000;">
{% for row in rows %}
	<tr>
	{% for col in row.cols %}
		<td class=Hover align=center style="width:150px; height:150px; vertical-align:middle;">
			<a href="Performer?Name={{ col }}"><img id="{{ col }}" src="PerformerIcon?Name={{ col }}" border=0 width=150 height=150 onMouseOver="showHint('{{ col }}');"/></a>
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

<br/><br/><br/>

{% endblock %}

