<html>

<head>
	<title>{% block title %}MediaCenter{% endblock %}</title>
</head>

<style type="text/css">
	#Hoster		{
			position:	absolute;
			top:		8px;
			right:		8px;
			font-size:	7pt;
			}
	#Menu table	{
			font-size:	11pt;
			}
	#Menu a		{
			color:		blue;
			text-decoration: none;
			padding-left:	5px;
			padding-right:	5px;
			}
	#Menu a:hover	{
			background:	#22ff22;
			color:		#ff22ff;
			text-decoration: none;
			}
	#Menu td	{
			border:		none;
			}
</style>

<body bgcolor="#55bb33">

<div id=Hoster>
	<a target="_blank" href="http://code.google.com/p/django-mediacenter/">http://code.google.com/p/django-mediacenter/</a>
</div>

<br/>

<div id=Menu align=center>
<table>
	<tr>
		<td>Musik:</td>
		<td>
			<a href="../Music/">Titel</a>
			<a href="../Music/IconListing?Database=Composers">Komponisten</a>
			<a href="../Music/IconListing?Database=Performers">K&uuml;nstler</a>
			<a href="../Music/IconListing?Database=Albums">Alben</a>
		</td>
	</tr>
	<tr>
		<td>Filme:</td>
		<td>
			<a href="../Movies/">Titel</a>
		</td>
	</tr>
</table>
</div>

<hr/>

<center>
<h1>{% block header %}{% endblock %}</h1>
<hr/>
<br/>
{% block main %}{% endblock %}
<br/>
<hr/>
<br/>
{% block footer %}{% endblock %}
</center>

</body>

</html>

