{% extends "MediaCenter.html" %}

{% block title %}Künstler{% endblock %}

{% block main %}

<div id=HintDiv style="border:1pt solid blue; color:black; background:yellow; position:fixed; top:0px; left:250px; right:250px; padding:4pt; visibility:hidden;">
<input id=HintText type=text value="" style="width:500px; border:0pt; text-align:center; font-size=12pt; background:yellow;" />
</div>

<script>
	function showHint(hint) {
		document.getElementById('HintText').value = hint;
		document.getElementById('HintDiv').style.visibility = "visible";
		document.getElementById('HintDiv').style.top = event.offsetTop;
		}
</script>

<table border=0 cellpadding=7 cellspacing=10 style="font-size:8pt;border:1px solid #000;">
{% for row in rows %}
	<tr>
	{% for col in row.cols %}
		<td class=Hover align=center style="width:150px; height:150px; vertical-align:middle;">
			<a href="Performer?Name={{ col }}"><img id="{{ col }}" src="PerformerIcon?Name={{ col }}" border=0 width=150 height=150 onMouseOver="showHint('{{ col }}');"/></a>
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

<br/><br/><br/>

{% endblock %}
</body>

</html>

